@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    --background: 230 34% 9%;
    --foreground: 210 40% 96%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 24% 16%;
    --secondary-foreground: 210 40% 96%;
    --muted: 220 20% 18%;
    --muted-foreground: 215 20% 65%;
    --border: 217 19% 24%;
  }
}

body {
  @apply bg-background text-foreground;
}
